/* #-ga viitame elemendile, millel on selline id ehk HTML-is on id="photo"*/
#photo {
    max-width: 20vw;
    max-height: 25vw;
}

#textBox {
    max-height: 25vw;
    overflow-x: hidden; /* Kui tekst läheb üle x telje, siis ei tehta midagi, vaid liigudatakse uuele reale ja tekitatakse scroll element */
    overflow-y: auto;
}
