/* Viitame elemendile ehk kõik elemendid tag-iga img on maksimaalselt 15em*/
img {
    max-width: 15em;
}

/* . viitame elemenditele, millel on selline klass ehk HTML-is on class="overlay" */
.overlay {
    position: absolute;
    top: 0; /* Kaugus ülemisest osast on 0 ehk puudub vahe elemendi ja lehekülje ülemise ääre vahel*/
    left: 0; /* Kaugus vasakust on 0 ehk puudub vahe elemendi ja vasaku ääre vahel */
    width: 100%; /* Kindla laiuse määramine */
    height: 100%; /* Kindla pikkuse määramine */
    background-color: rgba(0, 0, 0, 0.8); /* Taustavärv on taust, aga läbipäistev */
    display: none; /* Peidame algselt overlay */
    justify-content: center; /* Joondame vertikaalselt keskele */
    align-items: center; /* Elemendid joondatakse horisontaalselt lehe keskele*/
    text-align: center;
}

.overlay-content {
    display: flex;
    flex-direction: column; /* Mis suunas elemendid, mida HTML koodi kirjutama, lähevad. Praegu lähevad teineteise alla*/
    width: 70vw; /* vw ehk viewport width tähendab, et võetakse nii mitu protsenti, olenedes, kui lai on ekraan */
    height: 30vw;
    background: #C8C6C6;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.card.active .overlay {
    display: flex;
}

.close-icon {
    width: 3vw;
    height: 3vw;
    align-self: flex-end; /* Element paigustatakse flexi lõppu ehk tüüpiliselt paremale */
}

.pictures-and-text {
    display: flex;
    flex-direction: row;
    width: 70vw;
    gap: 2vw;
    text-align: left;
}

.teammates-picture {
    background-color: #EFF1F3;
    width: 20vw;
    height: 30vw;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    display: flex
}
